.main {
    width:      100%;
    max-width:  1200px;
    margin:     0 auto;
    padding:    0 16px 50px;
    box-sizing: border-box;
}

.title {
    font-size:  32px;
    text-align: left;

    @media screen and (max-width: 370px) {
        font-size: 28px;
    }
}

.countries {
    display:   flex;
    flex-wrap: wrap;
    margin:    0 -15px;
}