.main {
    width:      100%;
    max-width:  1200px;
    margin:     0 auto;
    padding:    0 16px 50px;
    box-sizing: border-box;
}

.title {
    font-size:  32px;
    text-align: left;

    @media screen and (max-width: 370px) {
        font-size: 28px;
    }
}

.countries {
    display:   flex;
    flex-wrap: wrap;
    margin:    0 -15px;
}

.pagination {
    display:     flex;
    align-items: center;
    margin:      25px 0 15px;
    width:       100%;
}

.btn {
    margin:      15px;
    background:  #ffffff;
    border:      1px solid #a4a4a4;
    box-shadow:  none;
    padding:     0 10px;
    line-height: 20px;
    text-align:  center;
    transition:  all 0.2s ease-in-out;

    &:hover {
        color:      #ffffff;
        background: #a4a4a4;
    }

    &:disabled {
        opacity: 0.5;
    }
}

.paginationNumWrap {
    display:     flex;
    align-items: center;
}

.paginationNum {
    border: none;
    margin: 2px;

    &.active {
        background-color: #61dafb;
    }
}