@import "../../styles/common";

.countryInfo {
    width:          100%;
    max-width:      1200px;
    margin:         0 auto;
    text-align:     center;
    font-size:      16px;
    color:          #484848;
    position:       relative;
    padding-top:    30px;
    padding-bottom: 50px;

    &Title {
        font-size:   28px;
        font-weight: bold;
    }

    &Flag {
        max-width:     340px;
        margin-top:    20px;
        margin-bottom: 50px;

        @media screen and (max-width: 370px) {
            margin-bottom: 25px;
            max-width:     240px;
        }
    }
}

.link {
    position:       absolute;
    left:           50px;
    top:            50px;
    display:        flex;
    align-items:    center;
    color:          #000000;
    text-transform: capitalize;

    @media screen and (max-width: 885px) {
        top:  15px;
        left: 10px;
    }

    svg {
        width:        30px;
        margin-right: 10px;
        transition:   all 0.3s ease-in-out;
    }

    &:hover {
        text-decoration: none;

        svg {
            transform: translateX(-8px);
        }
    }
}

.flexWrap {
    display:         flex;
    align-items:     flex-start;
    justify-content: space-evenly;

    @media screen and (max-width: 885px) {
        flex-wrap:   wrap;
        align-items: center;
    }
}

.flexColumn {
    flex-direction: column;

    &:first-child {

        @media screen and (max-width: 885px) {
            order:       2;
            display:     flex;
            align-items: center;
        }
    }

    @media screen and (max-width: 700px) {
        width: 100%;
    }
}

.map {
    max-width:       400px;
    width:           100%;
    margin:          0 auto;
    display:         flex;
    align-items:     center;
    justify-content: center;
}